body{ 
    background-color: #F0F8FF;
}

p {
    color: #00008B;
}
h1,h2 {
    color: #DC143C;
}
.cimkep{
    text-align: center;
}
#vonal{

    width: 70%;
    margin-top: 20px;
}

  .kozep-tablazat {
    width: 400px;
    margin: 0 auto;        
    border-collapse: collapse;
    border: none;          
  }

  
  .kozep-tablazat td {
    border: none;
    padding: 8px;           
    vertical-align: middle; 
  }

  
  .kozep-tablazat img {
    display: block;
    max-width: 230px;
    height: 153px;
  }

  
  .link-cell {
    text-align: left;       
    padding-left: 12px;
  }


.kep {
    border: 1px solid black; 
}


.jobbra-kep {
    float: right;            
    width: 230px;
    height: 153px;
    margin-left: 12px;       
    margin-bottom: 12px;    
}

.table-style {
    width: 500px;              /* táblázat szélessége */
    margin: 0 auto;            /* középre igazítás */
    border-collapse: separate; /* cellaköz kezelése */
    border-spacing: 6px;       /* cellaköz */
    border: none;              /* nincs külső keret */
}

.table-style td {
    padding: 6px; 
    border: none;             /* cellamargó */
}

.table-style td:first-child {
    width: 240px;              /* első oszlop szélessége */
}
.table-style h2 {
    background-color: #DC143C; /* vörös háttér */
    color: #F0F8FF;            /* világoskék betűszín */
    margin: 0;                 /* belső margó eltávolítása */
    padding: 4px 8px;          /* opcionális belső tér */
    font-size: 1.2em;  
    text-align: center;        /* méret tetszés szerint */
}

.td-jobbra{

     text-align: right;
}

.közep{
text-align: center;
}